.card-starter img {
    display: inline-block;
    width: 200px; 
    height: 200px; 
    overflow: hidden; 
    border-radius: 50%
}

.card-starter h2 {
    font-family: 'Pinyon Script', sans-serif ;
    font-size: 2em;
    color:#D2A500;
    font-weight: lighter;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.card-starter h3 {
    font-family: 'Roboto', sans-serif ;
    font-size: 1em;
    margin: 0;
}

.card-starter span {
    display: inline-block;
    font-family:'Pinyon Script', sans-serif;
    font-size: 1em;
    margin-top: 1em;
    color:#D2A500;
    width: 55vw;
}