.main-picture {
    display: inline-block;
    width: 200px; 
    height: 200px; 
    overflow: hidden; 
    border-radius: 50%;
    border:#D2AA74 1px solid;
    margin-bottom: 1em;

  /* Animation Fade-in */
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;  
}

.ingredient-image {
  overflow: hidden; 
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.card-starter h2 {
  font-family: 'Roboto', sans-serif;
    font-size: 2.5em;
    color:#D2AA74;
    font-weight: lighter;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.card-starter h3 {
    font-family: 'Roboto', sans-serif ;
    font-size: 1.2em;
    margin: 1em;
    color: white;
}

.card-starter a {
  text-decoration: none;
  color : #D2AA74;
}

hr {
  margin-top: 3.5em;
  border: #D2AA74 solid 1px;
  width: 20vw;
  display: inline-block;
}

#starterPrice {
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 1.7em;
  height: 1.5em;
  color:#D2AA74;
  text-align: center;
}

.cooking-time {
  display: block;
  color: #D2AA74;
  margin-bottom: 2em;
  font-size: 0.9em;
}

.serving {
  display: inline-block;
  color: #D2AA74;
  margin-bottom: 2em;
  font-size: 0.9em;
  margin-right: 1em;
}

.healthscore {
  display: inline-block;
  color: #D2AA74;
  margin-bottom: 2em;
  font-size: 0.9em;
}

/* handle readmore style on card */

.card-starter-readLess{
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  color:#D2AA74;
  width: 25.5vw;
  height: 3.6em;
  text-align: justify;
  vertical-align: 2.5em;
  overflow: hidden;
}

.card-starter-readMore {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 0.7em;
  color:#D2AA74;
  width: 25vw;
  height: 6em;
  text-align: justify;
  vertical-align: 2.5em;
  padding-right: 2em;
}

.card-starter button {
  color: white;
  border: 1px solid #D2AA74;
  background-color: #D2AA74;
  padding: 0.6em;
  border-radius: 20px;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 3em;
  margin-left: 1em;
}

.card-starter button:hover {
  background-color: white ;
  color: #D2AA74;
}

.readmore button {
  display: block;
}