.card-drink {
  margin-top: 1em;
  border: #D2AA74 1px solid;
  border-radius: 20px;
  overflow: auto;
  height: fit-content;
  width: 17vw;
  padding: 2.5em;
}

.main-picture-drink {
  display: inline-block;
  width: 14em; 
  height: 14em; 
  overflow: hidden; 
  border-radius: 50%;
  margin-bottom: 1em;
  border:#D2AA74 1px solid;
  /* Animation Fade-in */
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

  .card-drink h2 {
    font-family: 'Roboto', sans-serif;
  font-size: 3em;
  color:#D2AA74;
  font-weight: lighter;
  margin-bottom: 0.5em;
}

.card-drink h3 {
  font-family: 'Roboto', sans-serif ;
  font-size: 1.5em;
  margin-bottom: 1em;
  color: white;
}

.card-drink a {
  text-decoration: none;
  color : #D2AA74;
}

.drink-recipe-stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: #D2AA74 1px solid;
  padding: 1em;
  width: 13em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
}

.drink-price {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 0.9em;
  color:#D2AA74;
  text-align: center;
}

.drink-cooking-time {
  display: inline-block;
  color: #D2AA74;
  font-size: 0.9em;
}

.drink-serving {
  display: inline-block;
  color: #D2AA74;
  font-size: 0.9em;
  margin-right: 1em;
}

.drink-healthscore {
  display: inline-block;
  color: #D2AA74;
  font-size: 0.9em;
  margin-right: 1em;
}

/* handle ingredients style on card */

.drink-ingredients-list {
  color: #D2AA74;
  text-align: left;
  font-size: 0.8em;
  margin-bottom: 2em;
  display: block;
}

.drink-ingredients-list ul {
  width: fit-content;
}

.drink-ingredients-list img {
  margin-top: 1em;
  margin-right: 1em;
  width: 3.5em;
  height: 3.5em;
}

.drink-ingredients-list li {
  width: fit-content;
  margin: 0;
}

.drink-ingredients-list li img {
  position: relative;
  top:1.5em;
}

.drink-ingredients-subtitle {
  color:white;
  text-align: left;
  display: inline-block;
  width: 45%;
  text-decoration: underline;
}

.drink-ingredients-items-number {
  color: white;
  display: inline-block;
  text-align: right;
  width: 45%;
}

/* handle instructions style on card */

.drink-instructions-list {
  color: #D2AA74;
  text-align: left;
  font-size: 1em;
  margin-bottom: 1em;
}

.drink-instructions-list li {
  width: 15vw;
  font-size: 0.8em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  list-style-type: none;
  position: relative;
}

input[type=checkbox]:checked + label{
  text-decoration: line-through;
}

input {
  position: absolute;
  left:-2em;
}

/* handle readmore style on card */

.card-drink-readLess{
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  color:#D2AA74;
  width: 17vw;
  height: 3.6em;
  text-align: justify;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
}

.card-drink-readMore {
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 0.7em;
  color:#D2AA74;
  width: 17vw;
  height: fit-content;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}

.card-drink button {
  color: white;
  border: 1px solid #D2AA74;
  background-color: #D2AA74;
  padding: 0.6em;
  border-radius: 20px;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 3em;
  margin-left: 1em;
  width: 5vw;
  font-size: 0.65em;
}

.card-drink button:hover {
  background-color: white ;
  color: #D2AA74;
}