.App {
  text-align: center;
  border: solid 1px #D2AA74;
  margin:3.7em;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 2em;
  margin-top: none;
}

html {
  scroll-behavior:smooth;
  background-color: #211D17;
}
