.card-dessert {
  margin-top: 1em;
  border: #D2AA74 1px solid;
  border-radius: 20px;
  overflow: auto;
  height: fit-content;
  width: 17vw;
  padding: 2.5em;
}

.main-picture-dessert {
  display: inline-block;
  width: 14em; 
  height: 14em; 
  overflow: hidden; 
  border-radius: 50%;
  margin-bottom: 1em;
  border:#D2AA74 1px solid;
  /* Animation Fade-in */
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

  .card-dessert h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 3em;
  color:#D2AA74;
  font-weight: lighter;
  margin-bottom: 0.5em;
  margin-top: 0;
}

.card-dessert h3 {
  font-family: 'Roboto', sans-serif ;
  font-size: 1.5em;
  margin: 0;
  color: white;
  height: 4em;
}

.card-dessert a {
  text-decoration: none;
  color : #D2AA74;
}

.dessert-recipe-stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: #D2AA74 1px solid;
  padding: 1em;
  width: 13em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  border-radius: 10px;
}

.dessert-price {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 0.9em;
  color:#D2AA74;
  text-align: center;
}

.dessert-cooking-time {
  display: inline-block;
  color: #D2AA74;
  font-size: 0.9em;
}

.dessert-serving {
  display: inline-block;
  color: #D2AA74;
  font-size: 0.9em;
  margin-right: 1em;
}

.dessert-healthscore {
  display: inline-block;
  color: #D2AA74;
  font-size: 0.9em;
  margin-right: 1em;
}


/* handle ingredients style on card */

.dessert-ingredients-list {
  color: #D2AA74;
  text-align: left;
  font-size: 0.8em;
  margin-bottom: 2em;
  display: block;
}

.dessert-ingredients-list ul {
  width: fit-content;
}

.dessert-ingredients-list img {
  margin-top: 1em;
  margin-right: 1em;
  width: 3.5em;
  height: 3.5em;
  overflow: hidden; 
  border-radius: 50%;
  position: relative;
  top:1.5em;
}

.dessert-ingredients-list li {
  width: fit-content;
  margin: 0;
}

.dessert-ingredients-subtitle {
  color:white;
  text-align: left;
  display: inline-block;
  width: 45%;
  text-decoration: underline;
}

.dessert-ingredients-items-number {
  color: white;
  display: inline-block;
  text-align: right;
  width: 45%;
}

/* handle instructions style on card */

.dessert-instructions-list {
  color: #D2AA74;
  text-align: left;
  font-size: 1em;
  margin-bottom: 1em;
}

.dessert-instructions-list li {
  width: 15vw;
  font-size: 0.8em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  list-style-type: none;
  position: relative;
}

input[type=checkbox]:checked + label{
  text-decoration: line-through;
}

input {
  position: absolute;
  left:-2em;
}

/* handle readmore style on card */

.card-dessert-readLess{
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  color:#D2AA74;
  width: 17vw;
  height: 3.6em;
  text-align: justify;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
}

.card-dessert-readMore {
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 0.7em;
  color:#D2AA74;
  width: 17vw;
  height: fit-content;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}

.card-dessert button {
  color: white;
  border: 1px solid #D2AA74;
  background-color: #D2AA74;
  padding: 0.6em;
  border-radius: 20px;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 3em;
  margin-left: 1em;
  width: 5vw;
  font-size: 0.65em;
}

.card-dessert button:hover {
  background-color: white ;
  color: #D2AA74;
}

@media screen and (max-width: 1920px) {
  .card-dessert {
    margin-right: 1em;
    margin-top: 1em;
    border: #D2AA74 1px solid;
    border-radius: 20px;
    width: 23vw;
    padding: 0.5em;
}
.main-picture-dessert {
  width: 9em; 
  height: 9em; 
  margin-bottom: 0;
}

.card-dessert h3 {
  font-size: 1.5em;
  height: fit-content;
  margin-bottom: 0;
  padding: 1em 0em;
}

.card-dessert h2 {
  margin-top: 1em;
  font-size: 2.5em;
  margin-bottom: 0.5em;
}
.dessert-recipe-stats {
  width: fit-content;
  font-size: 0.8em;
  margin-bottom: 0.5em;
  padding: 1em;
}

.card-dessert-readLess{
  font-size: 0.8em;
  width:22vw;
  height: 3.4em;
  margin-top: 2em;
  margin-bottom: 2em;
}

.card-dessert-readMore {
  margin-top: 1em;
  font-size: 0.8em;
  width: 20vw;
  padding: 0;
}

.card-dessert button {
  padding: 0.6em;
  border-radius: 20px;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 3em;
  margin-left: 1em;
  width: 6.5vw;
  font-size: 0.45em;
}

.dessert-ingredients-list {
  font-size: 0.8em;
  width: 20vw;
}

.dessert-ingredients-list li {
  margin-left: 2em;
  width: 20vw;
}

.dessert-ingredients-list img {
  width: 2em;
  height: 2em;
  margin-bottom: 1em;
}

.dessert-ingredients-subtitle {
  font-size: 0.8em;
  width: 35%;
}

.dessert-ingredients-items-number {
  font-size: 0.8em;
  width: 35%;
}

.dessert-ingredients-list {
  font-size: 0.7em;
  margin-left: 2em;
  margin-right: 0;
  margin-left: 0;
}

.dessert-instructions-list {
  width: 20vw;
  font-size: 1.1em;
  padding-left: 1.5em;
}

.dessert-instructions-list li {
  width: 90%;
  font-size: 0.7em;
}
}

@media screen and (max-width: 1080px) {
  .card-dessert {
    margin-right: 2em;
    margin-top: 1em;
    border: #D2AA74 1px solid;
    border-radius: 20px;
    width: 40vw;
    padding: 0.5em;
}
.main-picture-dessert {
  width: 9em; 
  height: 9em; 
  margin-bottom: 0;
}

.card-dessert h3 {
  font-size: 1.5em;
  height: fit-content;
  margin-bottom: 0;
  padding: 1em 0em;
}

.card-dessert h2 {
  margin-top: 1em;
  font-size: 2.5em;
  margin-bottom: 0.5em;
}
.dessert-recipe-stats {
  width: fit-content;
  font-size: 0.8em;
  margin-bottom: 0.5em;
  padding: 1em;
}

.card-dessert-readLess{
  font-size: 0.8em;
  width:35vw;
  height: 3.4em;
  margin-top: 2em;
  margin-bottom: 2em;
}

.card-dessert-readMore {
  margin-top: 1em;
  font-size: 0.8em;
  width: 35vw;
  padding: 0;
}

.card-dessert button {
  padding: 0.6em;
  border-radius: 20px;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 3em;
  margin-left: 1em;
  width: 10vw;
  font-size: 0.6em;
}

.dessert-ingredients-list {
  font-size: 0.8em;
  width: 50vw;
}

.dessert-ingredients-list li {
  margin-left: 5em;
  width: 30vw;
}

.dessert-ingredients-list img {
  width: 2.5em;
  height: 2.5em;
  margin-bottom: 1em;
}

.dessert-ingredients-subtitle {
  font-size: 1em;
  width: 30%;
}

.dessert-ingredients-items-number {
  font-size: 1em;
  width: 30%;
}

.dessert-ingredients-list {
  margin-left: 2em;
  margin-right: 0;
  margin-left: 0;
}

.dessert-instructions-list {
  width: 30vw;
  font-size: 1.1em;
  padding-left: 2.5em;
}

.dessert-instructions-list li {
  width: 90%;
  font-size: 0.7em;
}
}

@media screen and (max-width: 768px) {
  .card-dessert {
    margin-top: 1em;
    border: #D2AA74 1px solid;
    border-radius: 20px;
    width: fit-content;
    padding: 0.5em;
}
.main-picture-dessert {
  width: 9em; 
  height: 9em; 
  margin-bottom: 0;
}

.card-dessert h3 {
  font-size: 1.5em;
  height: fit-content;
  margin-bottom: 0;
  padding: 1em 0em;
}

.card-dessert h2 {
  margin-top: 1em;
  font-size: 2.5em;
  margin-bottom: 0.5em;
}
.dessert-recipe-stats {
  width: fit-content;
  font-size: 0.8em;
  margin-bottom: 0.5em;
  padding: 1em;
}

.card-dessert-readLess{
  font-size: 0.8em;
  width:70vw;
  height: 3.4em;
  margin-top: 2em;
  margin-bottom: 2em;
}

.card-dessert-readMore {
  margin-top: 1em;
  font-size: 0.8em;
  width: 70vw;
  padding: 0;
}

.card-dessert button {
  padding: 0.6em;
  border-radius: 20px;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 3em;
  margin-left: 1em;
  width: 22vw;
  font-size: 0.6em;
}

.dessert-ingredients-list {
  font-size: 0.8em;
  width: 50vw;
}

.dessert-ingredients-list li {
  margin-left: 5em;
}

.dessert-ingredients-list img {
  width: 2em;
  height: 2em;
  margin-bottom: 1em;
}

.dessert-ingredients-subtitle {
  font-size: 1em;
  width: 30%;
}

.dessert-ingredients-items-number {
  font-size: 1em;
  width: 30%;
}

.dessert-ingredients-list {
  margin-left: 2em;
  margin-right: 0;
  margin-left: 0;
}

.dessert-instructions-list {
  width: 75vw;
  font-size: 1em;
  padding-left: 2.5em;
}

.dessert-instructions-list li {
  width: 90%;
  font-size: 0.7em;
}
}

@media screen and (max-width: 430px) {
  .card-dessert {
    margin-top: 1em;
    border: #D2AA74 1px solid;
    border-radius: 20px;
    width: fit-content;
    padding: 0.5em;
}
.main-picture-dessert {
  width: 9em; 
  height: 9em; 
  margin-bottom: 0;
}

.card-dessert h3 {
  font-size: 1.2em;
  height: fit-content;
  margin-bottom: 0;
  padding: 1em 0em;
}

.card-dessert h2 {
  margin-top: 1em;
  font-size: 2.5em;
  margin-bottom: 0.5em;
}
.dessert-recipe-stats {
  width: 70vw;
  font-size: 0.75em;
  margin-bottom: 0.5em;
  padding: 1em;
}

.card-dessert-readLess{
  font-size: 0.8em;
  width: 70vw;
  height: 3.4em;
  margin-top: 2em;
    margin-bottom: 2em;
}

.card-dessert-readMore {
  margin-top: 1em;
  font-size: 0.8em;
  width: 70vw;
}

.card-dessert button {
  padding: 0.6em;
  border-radius: 20px;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 3em;
  margin-left: 1em;
  width: 23vw;
  font-size: 0.65em;
}

.dessert-ingredients-list {
  font-size: 0.8em;
}

.dessert-ingredients-list li {
  margin-left: 3em;
}

.dessert-ingredients-list img {
  width: 3.5em;
  height: 3.5em;
  margin-bottom: 1em;
}

.dessert-ingredients-subtitle {
  font-size: 1em;
  width: 35%;
}

.dessert-ingredients-items-number {
  font-size: 1em;
  width: 35%;
}

.dessert-ingredients-list {
  width: 80vw;
}

.dessert-instructions-list {
  width: 75vw;
  font-size: 1em;
  padding-left: 2.5em;
}

.dessert-instructions-list li {
  width: 90%;
  font-size: 0.7em;
}
}

@media screen and (max-width: 415px) {
.card-dessert {
  margin-top: 1em;
  border: #D2AA74 1px solid;
  border-radius: 20px;
  width: 80vw;
  padding: 0.5em;
}
.main-picture-dessert {
  width: 8em; 
  height: 8em; 
  margin-bottom: 0;
}
.card-dessert h3 {
  font-size: 1.1em;
  height: fit-content;
  padding: 1.5em;
  margin-bottom: 0;
}

.card-dessert h2 {
  margin-top: 1em;
  font-size: 2.5em;
}
.dessert-recipe-stats {
  width: 70vw;
  font-size: 0.7em;
  margin-bottom: 0em;
}

.card-dessert-readLess{
  font-size: 0.7em;
  width: 70vw;
  height: 3.5em;
  text-align: justify;
  margin-top: 2em;
  margin-bottom: 2em;
}

.card-dessert button {
  padding: 0.6em;
  border-radius: 20px;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 3em;
  margin-left: 1em;
  width: 22vw;
  font-size: 0.60em;
}
.card-dessert-readMore {
  font-size: 0.7em;
  width: 65vw;
}

.dessert-ingredients-list {
  font-size: 0.7em;
}

.dessert-ingredients-list li {
  margin-left: 2.5em;
}

.dessert-ingredients-list img {
  width: 3em;
  height: 3em;
  margin-bottom: 1em;
}

.dessert-ingredients-subtitle {
  font-size: 0.9em;
  width: 43%;
}

.dessert-ingredients-items-number {
  font-size: 0.9em;
  width: 43%;
}

.dessert-ingredients-list {
  width: 80vw;
}

.dessert-instructions-list {
  width: 65vw;
  font-size: 1em;
  padding-left: 2.5em;
}

.dessert-instructions-list li {
  width: 90%;
  font-size: 0.7em;
}
}

@media screen and (max-width: 360px) {
  .card-dessert {
    margin-top: 1em;
    border: #D2AA74 1px solid;
    border-radius: 20px;
    width: fit-content;
    padding: 0.5em;
}
.main-picture-dessert {
  width: 6.5em; 
  height: 6.5em; 
}

.card-dessert h3 {
  font-size: 1em;
  height: fit-content;
  padding-bottom: 1em;
  padding-top: 0em;
  margin-bottom: 0em;
}

.card-dessert h2 {
  margin-top: 1em;
  font-size: 2em;
}
.dessert-recipe-stats {
  width: 70vw;
  font-size: 0.6em;
  padding: 0.5em;
  margin-bottom: 0;
}

.card-dessert-readLess{
  font-size: 0.7em;
  width: fit-content;
  height: 3.5em;
  text-align: justify;
  margin-top: 2em;
  margin-bottom: 2em;
}

.card-dessert-readMore {
  padding-top: 1em;
  font-size: 0.7em;
  width: 65vw;
}

.card-dessert button {
  padding: 0.6em;
  border-radius: 20px;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 3em;
  margin-left: 1em;
  width: 23vw;
  font-size: 0.55em;
}

.dessert-ingredients-list {
  font-size: 0.7em;
}

.dessert-ingredients-list li {
  margin-left: 2em;
}

.dessert-ingredients-list img {
  width: 2.5em;
  height: 2.5em;
  margin-bottom: 1em;
}

.dessert-ingredients-subtitle {
  font-size: 0.9em;
  width: 35%;
}

.dessert-ingredients-items-number {
  font-size: 0.9em;
  width: 35%;
}

.dessert-ingredients-list {
  width: 80vw;
}

.dessert-instructions-list {
  width: 65vw;
  font-size: 1em;
  padding-left: 2.5em;
}

.dessert-instructions-list li {
  width: 90%;
  font-size: 0.7em;
}
}

@media screen and (max-width: 320px) {
  .card-dessert {
      margin-top: 1em;
      border: #D2AA74 1px solid;
      border-radius: 20px;
      width: fit-content;
      padding: 0.5em;
  }
  .main-picture-dessert {
    width: 6em; 
    height: 6em; 
  }

  .card-dessert h3 {
    font-size: 0.8em;
    height: fit-content;
    margin-bottom: 0;
  }

  .card-dessert h2 {
    margin-top: 1em;
    font-size: 2em;
  }
  .dessert-recipe-stats {
    width: 70vw;
    font-size: 0.6em;
    margin-bottom: 0;
  }

  .card-dessert-readLess{
    font-size: 0.6em;
    width: fit-content;
    height: 3.3em;
    text-align: justify;
    padding: 1.5em;
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .card-dessert-readMore {
    font-size: 0.6em;
    width: 65vw;
  }

  .card-dessert button {
    padding: 0.6em;
    border-radius: 20px;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 3em;
    margin-left: 1em;
    width: 23vw;
    font-size: 0.45em;
  }


  .dessert-ingredients-list {
    font-size: 0.6em;
  }

  .dessert-ingredients-list li {
    margin-left: 2em;
  }

  .dessert-ingredients-list img {
    width: 3em;
    height: 3em;
    margin-bottom: 1em;
  }

  .dessert-ingredients-subtitle {
    font-size: 0.7em;
    width: 35%;
  }

  .dessert-ingredients-items-number {
    font-size: 0.7em;
    width: 35%;
  }

  .dessert-ingredients-list {
    width: 80vw;
  }

  .dessert-instructions-list {
    width: 65vw;
    font-size: 0.75em;
    padding-left: 2.5em;
  }
  
  .dessert-instructions-list li {
    width: 90%;
    font-size: 0.7em;
  }
}


