.card-dessert {
    margin-bottom: 5em;
}

.card-dessert img {
    display: inline-block;
    width: 200px; 
    height: 200px; 
    overflow: hidden; 
    border-radius: 50%;
    margin-bottom: 1em;
    border:#D2AA74 1px solid;
     /* Animation Fade-in */
     animation: fadeIn 5s;
     -webkit-animation: fadeIn 5s;
     -moz-animation: fadeIn 5s;
     -o-animation: fadeIn 5s;
     -ms-animation: fadeIn 5s;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

  .card-dessert h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5em;
    color:#D2AA74;
    font-weight: lighter;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.card-dessert h3 {
    font-family: 'Roboto', sans-serif ;
    font-size: 1.2em;
    margin: 1em;
    color: white;
}

.card-dessert a {
  text-decoration: none;
  color : #D2AA74;
}

hr {
  margin-bottom: 2em;
  border: #D2AA74 solid 1px;
  width: 20vw;
}

#dessertPrice {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 1.7em;
  height: 1.5em;
  color:#D2AA74;
  text-align: center;
}

/* handle readmore style on card */

.card-dessert-readLess{
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  color:#D2AA74;
  width: 25vw;
  height: 3.6em;
  text-align: justify;
  vertical-align: 2.5em;
  padding-right: 2em;
  overflow: hidden;
}

.card-dessert-readMore {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  color:#D2AA74;
  width: 25vw;
  height: 6em;
  text-align: justify;
  vertical-align: 2.5em;
  padding-right: 2em;
}

.card-dessert button {
  color: white;
  border: 1px solid #D2AA74;
  background-color: #D2AA74;
  padding: 0.6em;
  border-radius: 20px;
  text-decoration: none;
  display: block;
  margin-bottom: 3em;
  margin-left: auto;
  margin-right: auto;
}

.card-dessert button:hover {
  background-color: white ;
  color: #D2AA74;
}