.chatbox {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 2em;
    margin-top: 2em;
    margin-bottom: 1.5em;
    color: white;
    font-weight: bold;
    display: inline-block;
    /* Animation Fade-in */
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

/* responsive settings */

@media screen and (max-width: 1920px) {
  .chatbox span{
    display: block;
    width: 100vw;
  }
}
@media screen and (max-width: 1024px) {
  .chatbox span{
    display: block;
    width: 100vw;
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 415px) {
}

@media screen and (max-width: 430px) {
  .chatbox{
    margin-top: 1.5em;
    font-size: 1.5em;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 360px) {
  .chatbox{
    margin-top: 1.5em;
    font-size: 1.3em;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 320px) {
  .chatbox{
    margin-top: 1.5em;
    font-size: 1.3em;
    margin-bottom: 0;
  }
}