.footer {
      /* Animation Fade-in */
      animation: fadeIn 5s;
      -webkit-animation: fadeIn 5s;
      -moz-animation: fadeIn 5s;
      -o-animation: fadeIn 5s;
      -ms-animation: fadeIn 5s;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

.footer h4 {
  font-family: 'Roboto', sans-serif;
    font-size: 4em;
    display: inline-block;
    margin: 1em;
    color: #D2AA74;
    font-weight: lighter;
    text-shadow: 2px 2px 2px #D2AA74 ;
}

/* responsive settings */

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 415px) {
  .footer h4 {
    font-size: 2.5em;
}
}

@media screen and (max-width: 430px) {
  .footer h4 {
    font-size: 2.5em;
    margin-top: 1.1em;
}
}

@media screen and (max-width: 360px) {
  .footer h4 {
    font-size: 2em;
}
}

@media screen and (max-width: 320px) {
  .footer h4 {
      font-size: 2em;
  }
}