.card-main-course {
    margin-bottom: 5em;
}

.card-main-course img {
    display: inline-block;
    width: 200px; 
    height: 200px; 
    overflow: hidden; 
    border-radius: 50%;
    margin-bottom: 1em;
    border:#D2A500 1px solid;
    /* Animation Fade-in */
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

  .card-main-course h2 {
    font-family: 'Pinyon Script', sans-serif ;
    font-size: 2.5em;
    color:#D2A500;
    font-weight: lighter;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.card-main-course h3 {
  font-family: 'Roboto', sans-serif ;
  font-size: 1.2em;
  margin: 1em;
  color: #4d4d4d;
}

.card-main-course span {
  display: inline-block;
  font-family:'Pinyon Script', sans-serif;
  font-size: 1.5em;
  color:#D2A500;
  width: 25vw;
  height: 92px;
  text-align: center;
  vertical-align: 2.5em;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
}

.card-main-course a {
  text-decoration: none;
  color : #D2A500;
}

hr {
  margin-bottom: 2em;
  border: #D2A500 solid 1px;
  width: 20vw;
}

#main-course-price {
  display: inline-block;
  font-family:'Pinyon Script', sans-serif;
  font-size: 1.7em;
  height: 1.5em;
  color:#D2A500;
  text-align: center;
}