.card-main-course {
    margin-bottom: 5em;
}

.main-picture {
    display: inline-block;
    width: 200px; 
    height: 200px; 
    overflow: hidden; 
    border-radius: 50%;
    margin-bottom: 1em;
    border:#D2AA74 1px solid;
    /* Animation Fade-in */
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

  .card-main-course h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5em;
    color:#D2AA74;
    font-weight: lighter;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.card-main-course h3 {
  font-family: 'Roboto', sans-serif ;
  font-size: 1.2em;
  margin: 1em;
  color: white;
}

.card-main-course a {
  text-decoration: none;
  color : #D2AA74;
}

hr {
  margin-bottom: 2em;
  border: #D2AA74 solid 1px;
  width: 20vw;
}

#main-course-price {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 1.7em;
  height: 1.5em;
  color:#D2AA74;
  text-align: center;
}

.cooking-time {
  display: block;
  color: #D2AA74;
  margin-bottom: 1em;
  font-size: 0.9em;
}

.serving {
  display: inline-block;
  color: #D2AA74;
  margin-bottom: 2em;
  font-size: 0.9em;
  margin-right: 1em;
}

.healthscore {
  display: inline-block;
  color: #D2AA74;
  margin-bottom: 2em;
  font-size: 0.9em;
}

/* handle ingredients style on card */

.ingredients-list {
  color: #D2AA74;
  text-align: left;
  font-size: 0.6em;
  margin-bottom: 5em;
}

.ingredients-list img {
  margin-top: 1em;
  margin-right: 1em;
  width: 4em;
  height: 4em;
}

.ingredient-image {
  overflow: hidden; 
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

/* handle instructions style on card */

.instructions-list {
  color: #D2AA74;
  text-align: left;
  font-size: 1em;
  margin-bottom: 5em;
}

.instructions-list li {
  margin-bottom: 1em;
  text-align: justify;
  list-style-type: none;
  position: relative;
}

input[type=checkbox]:checked + label{
  text-decoration: line-through;
}

input {
  position: absolute;
  left:-2em;
}

/* handle readmore style on card */

.card-main-course-readLess{
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  color:#D2AA74;
  width: 25.5vw;
  height: 3.6em;
  text-align: justify;
  vertical-align: 2.5em;
  overflow: hidden;
}

.card-main-course-readMore {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 0.7em;
  color:#D2AA74;
  width: 25vw;
  height: 6em;
  text-align: justify;
  vertical-align: 2.5em;
  padding-right: 2em;
}

.card-main-course button {
  color: white;
  border: 1px solid #D2AA74;
  background-color: #D2AA74;
  padding: 0.6em;
  border-radius: 20px;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 3em;
  margin-left: 1em;
}

.card-main-course button:hover {
  background-color: white ;
  color: #D2AA74;
}