.card-main-course {
    margin-top: 1em;
    border: #D2AA74 1px solid;
    border-radius: 20px;
    overflow: auto;
    height: fit-content;
    width: 17vw;
    padding: 2.5em;
}

.main-picture-main-course {
    display: inline-block;
    width: 14em; 
    height: 14em; 
    overflow: hidden; 
    border-radius: 50%;
    margin-bottom: 1em;
    border:#D2AA74 1px solid;
    /* Animation Fade-in */
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

.card-main-course h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 3em;
  color:#D2AA74;
  font-weight: lighter;
  margin-bottom: 0.5em;
  margin-top: 0;
}

.card-main-course h3 {
  font-family: 'Roboto', sans-serif ;
  font-size: 1.5em;
  margin: 0;
  color: white;
  height: 4em;
}

.card-main-course a {
  text-decoration: none;
  color : #D2AA74;
}

.main-course-recipe-stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: #D2AA74 1px solid;
  padding: 1em;
  width: 13em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  border-radius: 10px;
}

.main-course-price {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 0.9em;
  color:#D2AA74;
  text-align: center;
}

.main-course-cooking-time {
  display: inline-block;
  color: #D2AA74;
  font-size: 0.9em;
}

.main-course-serving {
  display: inline-block;
  color: #D2AA74;
  font-size: 0.9em;
  margin-right: 1em;
}

.main-course-healthscore {
  display: inline-block;
  color: #D2AA74;
  font-size: 0.9em;
  margin-right: 1em;
}

/* handle ingredients style on card */

.main-course-ingredients-list {
  color: #D2AA74;
  text-align: left;
  font-size: 0.8em;
  margin-bottom: 2em;
  display: block;
}

.main-course-ingredients-list ul {
  width: fit-content;
}

.main-course-ingredients-list img {
  margin-top: 1em;
  margin-right: 1em;
  width: 3.5em;
  height: 3.5em;
  overflow: hidden; 
  border-radius: 50%;
  position: relative;
  top:1.5em;
}

.main-course-ingredients-list li {
  width: fit-content;
  margin: 0;
}

.main-course-ingredients-subtitle {
  color:white;
  text-align: left;
  display: inline-block;
  width: 45%;
  text-decoration: underline;
}

.main-course-ingredients-items-number {
  color: white;
  display: inline-block;
  text-align: right;
  width: 45%;
}

/* handle instructions style on card */

.main-course-instructions-list {
  color: #D2AA74;
  text-align: left;
  font-size: 1em;
  margin-bottom: 1em;
}

.main-course-instructions-list li {
  width: 15vw;
  font-size: 0.8em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  list-style-type: none;
  position: relative;
}

input[type=checkbox]:checked + label{
  text-decoration: line-through;
}

input {
  position: absolute;
  left:-2em;
}

/* handle readmore style on card */

.card-main-course-readLess{
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  color:#D2AA74;
  width: 17vw;
  height: 3.6em;
  text-align: justify;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
}

.card-main-course-readMore {
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 0.7em;
  color:#D2AA74;
  width: 17vw;
  height: fit-content;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}

.card-main-course button {
  color: white;
  border: 1px solid #D2AA74;
  background-color: #D2AA74;
  padding: 0.6em;
  border-radius: 20px;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 3em;
  margin-left: 1em;
  width: 5vw;
  font-size: 0.65em;
}

.card-main-course button:hover {
  background-color: white ;
  color: #D2AA74;
}

 /* responsive settings */

 @media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
}


@media screen and (max-width: 430px) {
}

@media screen and (max-width: 415px) {
  .card-main-course {
    margin-top: 1em;
    border: #D2AA74 1px solid;
    border-radius: 20px;
    width: 80vw;
    padding: 0.5em;
  }
  .main-picture-main-course {
    width: 8em; 
    height: 8em; 
  }
  .card-main-course h3 {
    font-size: 1.5em;
    height: fit-content;
    margin-bottom: 1em;
  }

  .card-main-course h2 {
    font-size: 2.5em;
  }
  .main-course-recipe-stats {
    width: 65vw;
    font-size: 0.65em;
  }

  .card-main-course-readLess{
    font-size: 0.7em;
    width: 65vw;
    height: 3.5em;
    text-align: justify;
  }

  .card-main-course button {
    padding: 0.6em;
    border-radius: 20px;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 3em;
    margin-left: 1em;
    width: 22vw;
    font-size: 0.60em;
  }
  .card-main-course-readMore {
    font-size: 0.7em;
    width: 65vw;
  }

  .main-course-ingredients-list {
    font-size: 0.7em;
  }

  .main-course-ingredients-list li {
    margin-left: 2.5em;
  }

  .main-course-ingredients-list img {
    width: 3em;
    height: 3em;
    margin-bottom: 1em;
  }

  .main-course-ingredients-subtitle {
    font-size: 0.9em;
    width: 43%;
  }

  .main-course-ingredients-items-number {
    font-size: 0.9em;
    width: 43%;
  }

  .main-course-ingredients-list {
    width: 80vw;
  }

  .main-course-instructions-list {
    width: 65vw;
    font-size: 1em;
    padding-left: 2.5em;
  }
  
  .main-course-instructions-list li {
    width: 90%;
    font-size: 0.7em;
  }
  }

  @media screen and (max-width: 360px) {
    .card-main-course {
      margin-top: 1em;
      border: #D2AA74 1px solid;
      border-radius: 20px;
      width: 75vw;
      padding: 0.5em;
  }
  .main-picture-main-course {
    width: 7em; 
    height: 7em; 
  }

  .card-main-course h3 {
    font-size: 1.5em;
    height: fit-content;
    margin-bottom: 1em;
  }

  .card-main-course h2 {
    font-size: 2.5em;
  }
  .main-course-recipe-stats {
    width: 65vw;
    font-size: 0.60em;
  }

  .card-main-course-readLess{
    font-size: 0.7em;
    width: 65vw;
    height: 3.5em;
    text-align: justify;
  }

  .card-main-course button {
    padding: 0.6em;
    border-radius: 20px;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 3em;
    margin-left: 1em;
    width: 22vw;
    font-size: 0.55em;
  }
  .card-main-course-readMore {
    font-size: 0.7em;
    width: 65vw;
  }

  .main-course-ingredients-list {
    font-size: 0.7em;
  }

  .main-course-ingredients-list li {
    margin-left: 2em;
    width: 65vw;
  }

  .main-course-ingredients-list img {
    width: 2.5em;
    height: 2.5em;
    margin-bottom: 1em;
  }

  .main-course-ingredients-subtitle {
    font-size: 0.85em;
    width: 41%;
  }

  .main-course-ingredients-items-number {
    font-size: 0.85em;
    width: 41%;
  }

  .main-course-ingredients-list {
    width: 80vw;
  }

  .main-course-instructions-list {
    width: 65vw;
    font-size: 0.7em;
    padding-left: 2.5em;
  }
  
  .main-course-instructions-list li {
    width: 90%;
    font-size: 1em;
  }
  }

@media screen and (max-width: 320px) {
  .card-main-course {
      margin-top: 1em;
      border: #D2AA74 1px solid;
      border-radius: 20px;
      width: 70vw;
      padding: 0.5em;
  }
  .main-picture-main-course {
    width: 6em; 
    height: 6em; 
  }

  .card-main-course h3 {
    font-size: 1em;
    height: fit-content;
    margin-bottom: 1em;
  }

  .card-main-course h2 {
    font-size: 2em;
  }
  .main-course-recipe-stats {
    width: 60vw;
    font-size: 0.5em;
  }

  .card-main-course-readLess{
    font-size: 0.5em;
    width: 60vw;
    height: 3.5em;
    text-align: justify;
  }

  .card-main-course button {
    padding: 0.6em;
    border-radius: 20px;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 3em;
    margin-left: 1em;
    width: 20vw;
    font-size: 0.45em;
  }
  .card-main-course-readMore {
    font-size: 0.5em;
    width: 60vw;
  }

  .main-course-ingredients-list {
    font-size: 0.6em;
  }

  .main-course-ingredients-list li {
    margin-left: 2em;
  }

  .main-course-ingredients-list img {
    width: 2em;
    height: 2em;
    margin-bottom: 1em;
  }

  .main-course-ingredients-subtitle {
    font-size: 0.7em;
    width: 35%;
  }

  .main-course-ingredients-items-number {
    font-size: 0.7em;
    width: 35%;
  }

  .main-course-ingredients-list {
    width: 80vw;
  }

  .main-course-instructions-list {
    width: 60vw;
    font-size: 0.7em;
    padding-left: 2.5em;
  }
  
  .main-course-instructions-list li {
    width: 90%;
    font-size: 0.7em;
  }
}
